/* CSS das páginas de erro */
.corpo {
    background-color: #FFFFFF;
    font-family: 'Roboto', cursive;
}

#fullPage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.corpo-login {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('/img/italian-landscape-mountains-nature');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}

.separator{
    border: 0;
    height: 1px;
    width: 20%;
    background-image: linear-gradient(to right, #edeef2, #e3e4e8, #edeef2);
}

.error-link {
    display: inline-block;
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: #000;
    text-decoration: none;
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    font-size: 15px;
}

.error-description {
    display: inline-block;
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: #000;
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    font-size: 20px;
}

.error-title {
    display: inline-block;
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: #000;
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    font-size: 70px;
    margin-top: -0.0%;
    margin-bottom: -1.0%;
}

.error-code {
    display: inline-block;
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: #000;
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: rgb(203, 207, 214), -1px -1px 1px rgb(203, 207, 214);
    font-size: 200px;
    margin-bottom: -1.5%;
    margin-top: 3%;
}

.text-center {
    text-align: center;
}

/* CSS das caixas de mensagem */

.alerta {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alerta-erro {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alerta-sucesso {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alerta-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* CSS de texto */
.forte {
    font-weight: bold;
}

.message {
    position: fixed;
    top: 10em;
    right: 10em;
}

#inner-message {
    margin: 0 auto;
}

.disabled {
    display: none;
}